<center  style="padding-top: 100px"><h1><%= t("get_starded") %></h1></center>
<center><h6><%= t("sub_get_starded") %></h6></center>
<br><br><br>
<div class="row" style="padding-top: 20px">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <%= render "devise/sessions/login" %>
  </div>
  <div class="col-sm-0" style="padding-top: 60px">
    <strong><%= t('or') %></strong>
  </div>
  <div class="col-md-2">
    <%= render "devise/sessions/create_account" %>
  </div>
  <div class="col-sm-0" style="padding-top: 60px">
    <strong><%= t('or') %></strong>
  </div>
  <div class="col-md-2">
    <%= render "devise/sessions/login_social" %>
  </div>
  <div class="col-md-3"></div>
</div>